body {
    background: linear-gradient(to right, rgb(143, 143, 225), rgb(240, 103, 245));
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-rectangle {
    position: absolute;
    border: 3px solid #2ecc71;
}

span.anchor-like {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

span.anchor-like:hover {
    background-color: #000;
    color: #fff;
}