body {
    background: linear-gradient(to right, rgb(143, 143, 225), rgb(240, 103, 245));
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-rectangle {
    position: absolute;
    border: 3px solid #2ecc71;
}
